$color-grey-light: #EFEFEF;
$color-grey-dark: #5DC6C2;
$color-yellow-light: #FBD664;
$color-green-light: #61EF6F;
$color-black: #3B3B3B;
$color-green-light: #E7E7E7;
$color-blue-dark: #047FCA;
$color-white-primary: #FAFAFA;
$color-white-secondary: #FFFFFF;
$color-grey-tertiary: #888888;
$color-grey-secondary: #EEEEEE;
$color-green-dark: #9D5B81;

$font-family: 'Montserrat';
